.card_container {
  border: 2px solid grey;
  width: 20rem;
  height: 100%;
  border-radius: 12px;
  cursor: grab;
  margin: 1rem;
}

.card_image {
  width: 50%;
  height: 27vh;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
  padding: 1rem 0px;
}
