.App {
  text-align: center;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container {
  gap: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}

.col {
  flex: 1 1 1;
  width: 28.5%;
}
